@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&family=Rovboto:ital,wght@1,100&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: #1F2937;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.right-links, .hero {
    font-size: 18px;
    color: #E5E7EB;
}
.right-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.right-links a:hover {
    color: #3882F6;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 50px;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

#left .title{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

#left {
    flex: 1;
    justify-content: flex-start;
}

.hero {
    margin-bottom: 8px;
    max-width: 500px;
    padding-right: 40px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 8px 30px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

button a {
    text-decoration: none;
    color: #E5E7EB;
}

.info {
    height: 450px;
    color: #1F2937;
    /* margin: 100px 0 200px 0; */
    display: flex;
}

.info .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
}

.boxes {
    display: flex;
    font-size: 18px;
    gap: 50px;
    flex-wrap: wrap;
    
}

.box-container {
    flex: 0 0 auto;
    height: 200px;
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
}

.box {
    flex: 0 0 auto;
    height: 200px;
    width: 200px;
    border: 3px solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
}

.quote .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    max-width: 890px;
}

.ital {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    align-self: center;
}

.attr {
    color: #1F2937;
    font-size: 20px;
    align-self: flex-end;
}

.cta button {
    border: 2px solid;
    border-color: #E5E7EB;
    color: #E5E7EB;
    /* flex: 0 0 auto; */
}

.cta {
    /* background-color: #3882F6; */
    height: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cta .container {
    display: flex;
    flex: 1;
    background-color: #3882F6;
    padding: 60px 100px;
    max-width: 1000px;
    border-radius: 8px;
}

.text {
   flex: 1;
   color: #E5E7EB;
}

.larger {
    font-size: 24px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 60px;
    align-items: center;
}